<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置文件信息 -->
    <properties resource="properties/db.properties"></properties>

<!--mybatis全局配置-->
    <settings>
        <!--    配置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--第一种方式  使用mapper标签-->
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/ComputerMapper.xml"/>
        <!--第一种方式  使用包名   这个包中的所有xml文件都可以加载到mybatis中
            使用package的要求
            1. mapper文件的名称需要和接口的一样，区分大小写
            2. mapper文件要去mapper接口在同一目录下
        -->
<!--        <package name="mapper"/>-->
    </mappers>
    
</configuration>