<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.UserMapper">
    <insert id="insertUser">
        insert into t_user
        value()
    </insert>

    <select id="getAllUser" resultType="org.example.pojo.User">
        select *
        from t_user
        order by id;
    </select>

    <select id="selectOneUser" resultType="java.util.Map">
        SELECT * FROM t_user WHERE username = 'zfc'
    </select>

    <select id="selectAllUser" resultType="java.util.Map">
        SELECT * FROM t_user
    </select>



</mapper>

